{% extends "base.html" %}
{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"> </script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js"%}"> </script>

{% block page_content %}


<div class="container mx-auto">
      <span class="text-base md:text-sm text-teal-500 font-bold">
          <span>
              <h1 class="font-bold font-sans break-normal text-gray-900 pt-6 pb-2 text-3xl md:text-4xl">
                 {{ post.title }}
              </h1>
               <hr>
                  <p class="text-sm md:text-base font-normal text-gray-600">
                      Published : {{ post.created_on.date }}
                  </p>
          </span>
      </span>
      <hr>

    <p class="py-2">
           {{ post.content | safe | linebreaks }}

    </p>

    <div class="text-base md:text-sm text-gray-500 px-4 py-6">
			Tags: {% for category in post.categories.all %}
            <a href="{% url 'blog_category' category.name %}" class="text-base md:text-sm text-teal-500 no-underline hover:underline"></a>&nbsp;
            {% endfor %}
	</div>



</div>


{% endblock %}