/* Show it is fixed to the top */

body,html {
    height:100%;
}
.main-body {
  min-height: 100rem;
  padding-top: 6rem;

}
.navbar-custom {
    background-color: #006a71;
}
.img-logo {
    width: auto;
    height: 40px;

}
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #006a71;
    clear: both;
}
