<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
      <meta charset="utf-8">
      <title>NQdigital</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <link rel="icon" href="/static/asset/img/nq.png">
      <meta name="author" content="NQdigital">
      <meta name="description" content="NQdigital Full time Freelancer Full Stack Developer.">
      <meta name="keywords" content="Nqdigital, Web Developer, Python Developer, Laravel Developer, Blog Developer, remote Worker">
      <!-- #2 meta tags -->
      <meta name="twitter:card" content="#">
      <meta name="twitter:image" content="#">
      <meta property="og:image" content="#">
      <meta name="twitter:creator" content="@nqdigital">
      <meta name="twitter:site" content="@nqdigital">
      <meta property="og:title" content="NQdigital">
      <meta property="og:type" content="#">
      <meta property="og:url" content="#">
      <meta property="og:description" content="#">

      <!--  -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="/static/asset/css/style.css?ver=1.1">
      <link rel="stylesheet" href="/{% load static %}/frontend/css/style.css?ver=1.4">

  </head>
    <body>
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-custom">
  <div class="container">
    <a class="navbar-brand" href="/"><img class="img-logo" src="/static/asset/img/nq.png" alt="Logo"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
        </button>
         <div class="collapse navbar-collapse" id="navbarCollapse">
           <ul class="navbar-nav mr-auto">
             <li class="nav-item active">
               <a class="nav-link" href="/">Home </a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/projects">Project</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="/blog">blog</a>
             </li>
           </ul>
         </div>
     </div>
</nav>
<main role="main" >
  <div class="container main-body">
    {% block page_content %}{% endblock %}

  </div>

</main>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


   <footer class="footer">
      <div class="container">
        <span class="text-muted"> 2020 | Nqdigital </span>
      </div>
    </footer>




    </body>
</html>